body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

#main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #ddd;
}
#main #calendar {
  display: flex;
  width: 95vw;
  height: 95vh;
  margin: auto;
  margin-top: 2.5vh;
  border-radius: 30px;
}
#main #calendar .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 45%;
  color: #fff;
  background-color: #034ea2;
  border-radius: 15px 0 0 15px;
}
#main #calendar .left .showDateWrap {
  margin-bottom: 50px;
  text-align: center;
  user-select: none;
}
#main #calendar .left .showDateWrap .showDay {
  margin-bottom: 20px;
  font-size: 40px;
}
#main #calendar .left .showDateWrap .showDate {
  font-size: 180px;
  font-weight: 500;
}
#main #calendar .left .todoListWrap .tdListTitle {
  user-select: none;
}
#main #calendar .left .todoListWrap .tdListTitle h3 {
  margin-bottom: 30px;
  font-size: 24px;
}
#main #calendar .left .todoListWrap .writeZone {
  width: 100%;
  margin-bottom: 50px;
}
#main #calendar .left .todoListWrap .writeZone input {
  width: 500px;
  margin-right: 20px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px dashed #fff;
  font-family: inherit;
  font-size: 24px;
  color: #fff;
  background-color: transparent;
  outline: none;
}
#main #calendar .left .todoListWrap .writeZone input::placeholder {
  color: #002b5c;
}
#main #calendar .left .todoListWrap .writeZone .todoBtn {
  padding: 13px 15px;
  border: none;
  background: none;
  transition: all 0.2s ease-in-out;
  outline: none;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
#main #calendar .left .todoListWrap .writeZone .todoBtn:hover {
  background-color: #fff;
}
#main #calendar .left .todoListWrap .writeZone .todoBtn span {
  font-weight: 700;
}
#main #calendar .left .todoListWrap .todoList {
  height: 150px;
  padding: 0 150px 0 10px;
  overflow-y: hidden;
}
#main #calendar .left .todoListWrap .todoList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
#main #calendar .left .todoListWrap .todoList li span {
  display: flex;
  align-items: center;
  user-select: none;
}
#main #calendar .left .todoListWrap .todoList li span.check {
  text-decoration: line-through;
}
#main #calendar .left .todoListWrap .todoList li span::before {
  display: block;
  width: 3px;
  height: 3px;
  margin-right: 5px;
  content: "";
  border-radius: 3px;
  background-color: #fff;
}
#main #calendar .left .todoListWrap .todoList li .xBtn {
  border: none;
  color: #fff;
  background: none;
  outline: none;
  cursor: pointer;
}
#main #calendar .right {
  flex-basis: 55%;
  color: #0b0809;
  background-color: #fff;
  border-radius: 0 15px 15px 0;
}
#main #calendar .right .calendarWrap {
  margin: 150px 100px;
}
#main #calendar .right .calendarWrap .cHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  user-select: none;
}
#main #calendar .right .calendarWrap .cHeader button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
#main #calendar .right .calendarWrap .cHeader button .material-icons {
  font-size: 30px;
  font-weight: 500;
}
#main #calendar .right .calendarWrap .cHeader .yearMonth {
  display: flex;
  justify-content: space-between;
  width: 25%;
  font-size: 24px;
  font-weight: 500;
}
#main #calendar .right .calendarWrap .cBody .weekly {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 700;
  user-select: none;
}
#main #calendar .right .calendarWrap .cBody .weekly li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(14.2857142857% - 4px);
  position: relative;
  margin: 2px;
}
#main #calendar .right .calendarWrap .cBody .weekly li.sun {
  color: #ef3333;
}
#main #calendar .right .calendarWrap .cBody .weekly li.sat {
  color: #2107e0;
}
#main #calendar .right .calendarWrap .cBody .date {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  font-weight: 700;
}
#main #calendar .right .calendarWrap .cBody .date li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.2857142857%;
  position: relative;
}
#main #calendar .right .calendarWrap .cBody .date li::before {
  display: block;
  padding-top: 70%;
  content: "";
}
#main #calendar .right .calendarWrap .cBody .date li.off span {
  color: #c4c4c4;
  user-select: none;
  cursor: default;
}
#main #calendar .right .calendarWrap .cBody .date li.off span:hover {
  background-color: #034ea2;
}
#main #calendar .right .calendarWrap .cBody .date li.click span {
  color: #f6f6f6;
  background-color: #0b0809;
  border-radius: 100%;
}
#main #calendar .right .calendarWrap .cBody .date li.click span:hover {
  color: #f6f6f6;
  background-color: #0b0809;
  border-radius: 100%;
}
#main #calendar .right .calendarWrap .cBody .date li span {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  user-select: none;
  cursor: pointer;
}
#main #calendar .right .calendarWrap .cBody .date li span:hover {
  color: #fff;
  border-radius: 100%;
  background-color: #023670;
}